<h2>Последние посты:</h2>
<br/>
<% @result.each do |item|%>
	<p>
		<%= item['content'] %>
		<br/>
		<br/>
		Added at <%= item['created_date'] %>
		<br/>
		<br/>
		<a href="/ditales/<%= item['id'] %>">Comments</a>
	</p>
	<hr/>

<% end %>